*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    font-family:monospace;
}
html,body{
    align-items: center;
    min-height: 100PX;
    
    display: flex;
    justify-content: center;
    background:linear-gradient(-135deg,#c850c0,#4158d0);
}
.wrapper{
    width: 450px;
    background: #fff;
    padding: 30PX;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.wrapper .inputdata{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .inputdata input{
    height: 100%;
    width: 100%;
     border: none;
     font-size: 17px;
     border-bottom: 2px solid silver;
}
.inputdata input:focus~label,
.inputdata input:valid~label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}
.wrapper .inputdata label{
    position: absolute;
    bottom: 10px;
    left: 0%;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper .inputdata .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    
}
 .inputdata .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.inputdata input:focus~.underline:before,
.inputdata input:valid~.underline:before{
    transform: scaleX(1);
}
